@{
    Layout = null;
}





<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




<style>
    .campo-texto {
        width: 100%;
        height: 30%;
        font-family: Helvetica;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        color: black;
        border-color: white;
        border-radius: 5px;
        border-width: 2px;
        height: 80%;
        background-image: linear-gradient( to right,white, #fefefe );
    }

    .card-login {
        color: black;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        box-shadow: 1px 1px 1px 1px black;
        margin: 3px !important;

        padding: 3px !important;
        top:-10px;
        
    }

    .campo-texto:focus {
        border-color: white !important;
    }
    #displaymensagem {
        overflow-y: auto;
        overflow: auto;
    }
    #takebe:hover {
        box-shadow: 7px 7px 7px green;
        transition:1s;
    }
    #takeexc:hover {
        box-shadow: 7px 7px 7px green;
        transition: 1s;
    }
    #taketeam:hover {
        box-shadow: 7px 7px 7px green;
        transition: 1s;
    }
    #takesimple:hover {
        box-shadow: 7px 7px 7px green;
        transition: 1s;
    }
    #takechange:hover {
        box-shadow: 7px 7px 7px green;
        transition: 1s;
    }
    #takehigh:hover {
        box-shadow: 7px 7px 7px green;
        transition: 1s;
    }


</style>

<script>
  
</script>
<div class="" style="">
    <div class="card-login " style="background-image: linear-gradient( to right,#d0d0d0, #c0c0c0 );height: 93%;width:99.5%;">

        <div class="col-md-12" style="">

            <div id="displaymensagem" style="" readonly="readonly" class="campo-texto ">
                <div class="col-md-5">
                    <div id="carousel" class=""></div>
                </div>

            </div>

            <br />
            <div class="container">
              
                <div class="col-md-6">
                    <input type="text" id="mensagem" class="form-control" placeholder="Digite aqui sua mensagem ..." style='margin:5px;' />
                </div>
                <div class="col-md-2">
                    <a id="Enviar" class="btn btn-success btn-block" style='margin:5px;'><i class="glyphicon glyphicon-send"></i> &nbsp;<b>Enviar</b></a>
                </div>
            </div>
        </div>
        <br />
    </div>

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/JavaScript.js"></script>


